@use "../../../styles/tokens" as *;

.page {
  min-height: 100dvh;
  background-color: $color-bg-light;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0;
}

.backBtn {
  font-weight: 700;
  font-size: 0.875rem;
  color: $color-text-dark;
}

.featured {
  position: relative;
  display: block;
  width: 90%;
  height: 25.25rem;
  margin-inline: auto;
  margin-block-start: 1rem;
}

.featuredImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.featuredOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}

.featuredName {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.75rem 3rem 0.75rem 1rem;
  color: $color-text-dark;
  font-size: 1rem;
  font-weight: 900;
  background: $color-primary;
  border-top-right-radius: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.listTitle {
  font-size: 1.25rem;
  font-weight: 900;
  color: $color-text-dark;
  padding-inline: 1rem;
  margin-block-start: 1.5rem;
}

.list {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 1.5rem 1rem;
  scrollbar-width: none;
    margin-inline-start: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  position: relative;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 9rem;
}

.cardImg {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.cardLabel {
  position: absolute;
  width: 100%;
  margin-block-start: 0.5rem;
  background: $color-primary;
  border-top-right-radius: 5rem;
  bottom: 0;
  left: 0;
  height: 3rem;
  overflow: hidden;
}

.cardName {
  padding: 0.25rem 0 0.15rem 0.5rem;
  color: $color-text-dark;
  font-size: 0.75rem;
  font-weight: 900;
  width: 15ch;
}

.stars {
  display: flex;
  gap: 0.4rem;
  margin-block-start: 0.25rem;
  margin-inline-start: 0.5rem;
  color: $color-icon-dark;
  font-size: 0.75rem;
}

