@use "../styles/tokens" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem 0;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
  color: $color-text-dark;
}
