@use "../../styles/tokens" as *;

.burgerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0.25rem;
  color: var(--burger-color, #{$color-icon-light});
  z-index: 999;
}
